<% unless current_end_user == end_user %>
  <% if current_end_user.following?(end_user) %>
    <%= link_to end_user_relationship_path(end_user_id: end_user.id, id: current_end_user.following_relationships.find_by(following_id: end_user.id).id), method: :delete, remote: true do %>
      <div class="unfollow btn">フォロー解除</div>
    <% end %>
  <% else %>
    <%= link_to end_user_relationships_path(end_user_id: end_user.id), method: :post, remote: true do %>
      <div class="follow btn">フォローする</div>
    <% end %>
  <% end %>
<% end %>