<div class="container">
  <div id="cursor"><%= image_tag 'tantei.png', id: "picto" %></div>
  <div class="text-center">
    <div class="Q">
      Q.ここはどんなサイト？
      <div class="A">
        A.偉人の名言を閲覧、投稿できるサイトです。ポジティブで明るい名言からジメッとしたネガティブな名言もあります。
      </div>
    </div>
    <div class="Q">
      Q.なんでこのサイトを作ろうと思ったの？
      <div class="A">
        A.偉人の名言を閲覧できるサイトはあれど、名(迷)言について意見交換するようなサイトがなかったので作りました。
      </div>
    </div>
    <div class="Q">
      Q.どんなことができるの？
      <div class="A">
        A.様々な偉人の名(迷)言を閲覧、投稿し名言に対して評価(youtubeの高評価、低評価機能のようなもの)したりコメントを残すことができます。
      </div>
    </div>
    <div class="Q">
      Q.ランダム名(迷)言って何？
      <div class="A">
        A.名前の通り偉人の名言の中からランダムに名言を選んでくれます。もしかしたら自分にピッタリな名言に出会えるかも？
    </div>
    <div class="Q">
      Q.名(迷)言投稿って偉人の名言しか投稿できないの？
      <div class="A">
        A.投稿に関しては偉人に限らずアニメや漫画、本などの人物でもOKです。ただし画像などの著作権に関しては注意してください。当サイトでは著作権侵害による責任は取れませんので。
      </div>
    </div>
  </div>
</div>